<h1>ホーム</h1>
<ul class=nav>
  <% if user_signed_in? %>
    <li><%= link_to'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
    <li><%= link_to'マイページ', user_path(current_user.id), class: "my-page"%></li>

  <%else%>
    <li><%= link_to'ログイン', new_user_session_path, class: "login" %></li>
    <li><%= link_to'新規登録', new_user_registration_path, class: "sign-up" %></li>
  <%end%>
</ul>

<%= link_to products_path do%>
  <button class="product-category-btn">商品一覧</button>
<%end%>

<%= link_to reviews_path do%>
  <button class="review-category-btn">口コミ一覧</button>
<%end%>