<div class="top-page">
  <header class='top-page-header'>
    <%= image_tag("reito-icon-blue.png", class:"reito-icon") %>
  </header>
  <body class="top-page-body">
    <div class="back-image">
      <ul class=list-right>
        <% if user_signed_in? %>
          <li class="logout"><%= link_to'ログアウト', destroy_user_session_path, method: :delete %></li>
          <li class="my-page"><%= link_to'マイページ', user_path(current_user.id) %></li>
        <%else%>
          <li class="log-in"><%= link_to'ログイン', new_user_session_path %></li>
          <li class="sign-up" ><%= link_to'新規登録　', new_user_registration_path %></li>
        <%end%>
      </ul>
      <div class="center-image">
        <div class="reito-app-description">
          <p class="reito-app-detail1">
            驚きと発見を
          </p>
          <p class="reito-app-detail2">
            毎日の食事に
          </p>
          <p class="reito-app-detail3">
            冷凍食品で
          </p>
        </div>
      </div>
    </div>
  </body>
  <footer class="top-page-footer">
    <ul class="category-list">
      <li><%= image_tag("ranking.png", class:"ranking-btn")%>
      <li><%= link_to image_tag("shouhinitiran.png", class:"product-category-btn"), products_path %></li>
      <li><%= link_to image_tag("kutikomiitiran.png", class:"review-category-btn"), reviews_path %></li>
    </ul>
  </footer>
</div>