<header class='simple-header'>
  <%= link_to image_tag("reito-icon-blue.png", class:"reito-icon"), "/" %>
</header>

<body class="session-lists">
  <div class="session-second-lists">
    <%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'registration-main', local: true do |f| %>
      <div class='form-wrap'>
        <%=image_tag("line.png", class:"line-image")%>
        <h2 class="session-title">ログイン</h2>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">メールアドレス</label>
        </div>
        <%= f.email_field :email, class:"input-form", id:"email", placeholder:"PC・携帯どちらでも可", autofocus: true %>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">パスワード</label>
        </div>
        <%= f.password_field :password, class:"input-form", id:"password", placeholder:"6文字以上の半角英数字" %>
      </div>
      <div class='login-btn'>
        <%= f.submit "ログイン" , class:"login-red-btn" %>
      </div>
    <% end %>
    <div class="sign-up-group">
      <%=link_to "新規登録",new_user_registration_path, class: "sign-up-second"%>
    </div>
  </div>
</body>


