<div class="product-show">
  <div class="product-box">
    <div class="product-img-content">
      <%= image_tag @product.image ,class:"product-box-img" %>
    </div>
    <div class="product-name-box">
      <%= @product.product_name %>
      <%= @product.company.name %>
    </div>

    <%# <div class="edit-desroy-btn">
      <%= link_to "商品の編集", edit_product_path, method: :get, class: "product-red-btn" %>
      <%# <p class="or-text">or</p>
      <%= link_to "削除", product_path(@product.id), method: :delete, class:"product-destroy" %>
    <%# </div> %> 

    <div class="product-explain-box">
      <span><%= @product.description %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <td class="detail-value"><%= @product.ganre.name %></td>
          <td class="detail-value"><%= @product.category.name %></td>
        </tr>
        <tr>
          <td class="detail-value"><%= @product.cooking_method.name %></td>
          <td class="detail-value"><%= @product.cooking_method2.name %></td>
        </tr>
      </tbody>
    </table>

  </div>

  <%# <div class="comment-box">
    <form>
      <button type="submit" class="comment-btn">
        <span>口コミ投稿<span>
      </button>
    </form>
  </div> %>
  <%# <div class="links">
    <a href="#" class="change-item-btn">
      ＜ 前の商品
    </a>
    <a href="#" class="change-item-btn">
      後ろの商品 ＞
    </a>
  </div> %>
  <%# <a href="#" class="another-item"><%= @product.category.name %>をもっと見る</a> %>
</div>
