<header class='simple-header'>
  <%= link_to image_tag("reito-icon-blue.png", class:"reito-icon"), "/" %>
</header>

<body class="product-show">
  <div class="product-all">
    <ul class ="change-btn">
      <% if current_user&.admin? %>
        <li><%= link_to "編集", edit_product_path(@product.id), method: :get, class: "edit-btn"%></li> 
        <li><%= link_to "削除", product_path(@product.id), method: :delete, class: "delete-btn"%></li> 
      <%end%>
    </ul>
    <div class="product-box">
      <div class="product-img-content">
        <%= image_tag @product.image ,class:"product-box-img" %>
      </div>
      <div class="product-name-box">
        <h3 class="show-canpany"><%= @product.company.name %></h3>
        <h1 class="show-product-name"><%= @product.product_name%></h1>
      </div>
      <div class="product-explain-box">
        <span><%= @product.description %></span>
      </div>
      <div class="category-block">
        <div class="detail-value1"><%= "　#{@product.ganre.name}　" %></div>
        <div class="detail-value2"><%= "　#{@product.category.name}　" %></div>
      </div>
      <div class="cooking-method-block">
        <div class="detail-value3"><%= "　#{@product.cooking_method.name}　" %></div>
          <div class="detail-value3"><%= "　#{@product.cooking_method2.name}　" %></div>
      </div>
      <%= link_to "　≪　#{@product.category.name}をもっと見る", :back,  class: "another-products"%>
    </div>
    <div class="review-box">
      <%= link_to image_tag("kutikomitoukou.png", class: "review-img-btn"), new_product_review_path(product_id: @product.id) %>
    </div>
  </div>
</body>