<div class="product-show">
  <div class="product-box">
    <div class="product-img-content">
      <%= image_tag @product.image ,class:"product-box-img" %>
    </div>
    <ul class ="change-btn">
        <li><%= link_to "編集", edit_product_path, method: :get, class: "edit-btn"%></li> 
        <li><%= link_to "削除", product_path(@product.id), method: :delete, class: "delete-btn"%></li> 
    </ul>
    <div class="product-name-box">
      <%= @product.product_name %>
      <%= @product.company.name %>
    </div>

    <div class="product-explain-box">
      <span><%= @product.description %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <td class="detail-value"><%= @product.ganre.name %></td>
          <td class="detail-value"><%= @product.category.name %></td>
        </tr>
        <tr>
          <td class="detail-value"><%= @product.cooking_method.name %></td>
          <td class="detail-value"><%= @product.cooking_method2.name %></td>
        </tr>
      </tbody>
    </table>

  </div>

  <div class="review-box">
    <%= link_to "口コミ投稿", new_product_review_path(@product.id), class: "review-text" %>
  </div>
  <%= link_to "#{@product.category.name}をもっと見る", :back,  class: "another-products"%>
</div>
