<h2>コロッケ</h2>

<% @review4.each do |review| %>
  <div class='review-content'>
    <%= link_to product_review_path(@product) do%>
    <%= image_tag review.product.image, class: "product-img" %>
    <div class='product-info'>
      <h3 class='product-name'>
        <%= review.product.product_name %>
      </h3>
    </div>
    <ul class="review-info">
      <li><%=review.title%></li>
      <li><%="by#{review.user.nickname}"%></li>
      <li><%=review.created_on%></li>
    </ul>
    <%end%>
  </div>
<%end%>


