<%=link_to "Reito", root_path, class: "main-title"%>

<h2>口コミ一覧</h2>


<div class="three-classes">
  <h3 class="class-text">お弁当向け</h3>
  <ul class="mix-class">
    <li><%= link_to "肉系", meat_reviews_path %></li>
    <li><%= link_to "魚系", fish_reviews_path %></li>
    <li><%= link_to "カップ", cup_reviews_path %></li>
    <li><%= link_to "コロッケ", croquette_reviews_path %></li>
  </ul>
  
  <h3 class="class-text">食卓向け</h3>
  <ul class="mix-class">
    <li><%= link_to "米飯", rice_reviews_path %></li>
    <li><%= link_to "麺類", noodle_reviews_path %></li>
    <li><%= link_to "お惣菜", side_reviews_path %></li>
    <li><%= link_to "ピザ", pizza_reviews_path %></li>
    <li><%= link_to "グラタン・ドリア", gratin_reviews_path %></li>
  </ul>

  <h3 class="class-text">食材・デザート</h3>
  <ul class="mix-class">
    <li><%= link_to "食材", foodstuff_reviews_path %></li>
    <li><%= link_to "スイーツ", sweets_reviews_path %></li>
  </ul>
</div>