<header class='simple-header'>
  <%= link_to image_tag("reito-icon-blue.png", class:"reito-icon"), "/" %>
</header>

<body class="review-body">
  <% @review1.each do |review| %>
    <div class='review-product-content'>
      <div class='review-product-content2'>
        <div class="review-product-box">
        <%= link_to product_review_path(id: review.id, product_id: review.product.id), class: "review-url" do%>
          <%= image_tag review.product.image, class: "review-product-img" %>
          <h3 class='review-product-name'><%= review.product.product_name %></h3>
        </div>
        <div class='review-product-info'>
          <div class="review-title"><%="ã€Žã€€#{review.title}ã€€ã€"%></div>
          <div class="recommend-score"><%=review.recommend_score.name%></div>
        <%end%>
          <div class="created_on"><%="ðŸ•˜#{review.created_on}"%></div>
          <div class="review-nickname"><%="by#{review.user.nickname}"%></div>
        </div>
      </div>
    </div>
  <%end%>
</body>




