<h1>口コミ投稿</h1>

  <div class="product-box">
    <div class="product-img-content">
      <%= image_tag @product.image ,class:"product-box-img" %>
    </div>
    <div class="product-name-box">
      <%= @product.product_name %>
      <%= @product.company.name %>
    </div>
  </div>

<%= form_with(model: [@product, @review], url: product_reviews_path(@product), class: "review-main", local: true) do |f|%>
<div class="review-form">
  <div class="review-text-wrap">
    <label class="review-text">タイトル</label>
    <span class="indispensable">必須</span>
  </div>
  <%= f.text_area :title, class:"input-area", id:"title",placeholder:"お弁当のお惣菜ならこれが”イチオシ”"%>

  <div class="review-text-wrap">
    <label class="review-text">おすすめ度</label>
    <span class="indispensable">必須</span>
  </div>
  <%= f.collection_select(:recommend_score_id, RecommendScore.all, :id, :name, {class:"select-box", id:"recommend_score"})%>

  <div class="review-text-wrap">
    <label class="review-text">コメント</label>
    <span class="indispensable">必須</span>
  </div>
  <%= f.text_area :comment, class:"input-area", id:"comment", placeholder:"お弁当のちょっとした隙間を埋めるのに便利！自然解凍なのでそのままお弁当箱に詰められて楽！"%>

  <div class="entry-btn-contents">
    <%= f.submit "登録する" ,class:"entry-btn" %>
  </div>
</div>
<%end%>