<header class='simple-header'>
  <%= link_to image_tag("reito-icon-blue.png", class:"reito-icon"), "/" %>
</header>

<body class="review-show">
  <div class="review-all">
    <ul class ="change-btn2">
      <% if current_user.id == @review.user_id %>
        <li><%= link_to "ç·¨é›†", edit_product_review_path(id: @review.id, product_id: @review.product.id), method: :get, class: "edit-btn2"%></li> 
        <li><%= link_to "å‰Šé™¤", product_review_path(id: @review.id, product_id: @review.product.id), method: :delete, class: "delete-btn2"%></li> 
      <%end %>
    </ul>
    <div class="review-center">
      <div class="review-show">
        <div class="review-product-box">
          <div class="review-value1"><%= @review.product.product_name %></div>
          <%= image_tag @review.product.image, class: "review-box-image" %>
          <div class="review-value2"><%= "ã€€#{@review.product.company.name}ã€€" %></div>
        </div>
        <div class="review-box">
          <ul class="review-imformation">
            <li class="review-value3"><%= "ã€Žã€€#{@review.title}ã€€ã€" %></li>
            <li class="review-value4"><%= @review.recommend_score.name %></li>
            <li class="review-value5"><%="ðŸ•˜#{@review.created_on}"%></li>
            <li class="review-value6"><%= @review.comment %></li>
            <li class="review-value7"><%= "byã€€#{@review.user.nickname}"%></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>
