<h2>スイーツ</h2>

<% @review11.each do |review| %>
  <div class='review-content'>
    <%= link_to product_review_path(id: review.id, product_id: review.product.id) do%>
    <%= image_tag review.product.image, class: "product-img" %>
    <div class='product-info'>
      <h3 class='product-name'>
        <%= review.product.product_name %>
      </h3>
    </div>
    <ul class="review-info">
      <li><%=review.title%></li>
      <li><%=review.recommend_score.name%></li>
    <%end%>
      <li><%="by#{review.user.nickname}"%></li>
      <li><%=review.created_on%></li>
    </ul>
  </div>
<%end%>


